{
    admin off
    email lassi.piironen@sleek.works
}

virtualfinland-authgw.localhost {
    tls internal
    reverse_proxy authgw:4078
}

virtualfinland-authgw-demo.localhost {
    tls internal
    reverse_proxy demoApp:5000
}